
body {
    font-family: 'Denk One', serif;
    font-weight: normal;
    margin: 0;

    /* Color Palette: https://coolors.co/071013-eaeaea-eb5160-5d737e-fffff2 */
    --primary-color: #071013ff;
    --primary-color-rgb: 7, 16, 19;
    --active-color: #eb5160ff;
    --active-color-rgb: 235, 81, 96;
    --emphasis-color: #5d737eff;
    --emphasis-color-rgb: 93, 115, 126;
    --base-color: #fffff2ff;
    --emphasis-2-color: #D9F0FF;
}

/* Header */
.header-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    color: #fff;
    background-color: var(--primary-color);
}

.header-bar h1 {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
    font-family: 'Trade Winds', serif;
    font-weight: normal;
    font-size: 2.3em;
    cursor: pointer;
}

.header-bar h1:hover {
    color: var(--active-color);
}

.header-bar h1:active {
    color: rgba(var(--active-color-rgb), 0.9);
}

.header-bar button {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: none;
    border: none;
    min-width: 60px;
    cursor: pointer;
}

.header-bar button {
    color: #fff;
    font-size: 32px;
}

.header-bar button:hover {
    color: var(--active-color);
}

.header-bar button:active {
    color: rgba(var(--active-color-rgb), 0.9);
}

/* Footer */
.footer-bar {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Jomhuria';
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 25px;
    margin-bottom: 10px;
    height: 25px;
    overflow: hidden;
}

.footer-bar span {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    overflow: hidden;
}

.body-area {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 20px;
    min-height: calc(100% - 100px); /* 100px = top + 2*padding */
    background-color: var(--base-color);
}

.page-area {
    margin-bottom: 40px;/* must match footer-bar height+margin - body-area padding. yes this is janky. */
}

div.full-width {
    display: inline-block;
    position: relative;
    left: 0;
    width: 100%;
}

div.central {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    width: auto;
    overflow: auto;
}

div .central.card-central {
    width: 100%;
}

.timer-area h1 {
    display: inline-block;
    position: relative;
    left: 0;
    margin: 0 0 0 20px;
    font-weight: normal;
    font-size: 1.8em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.timer-area .active-timer {
    position: relative;
    background-color: var(--active-color);
    width: 100%;
    height: 140px;
    border-radius: 4px;
}

.timer-area .active-timer .timer-card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    overflow: hidden;
    border: none;
    background-color: transparent;
    font-family: inherit;
    text-align: left;
    font-size: 1.0em;
}

.timer-card:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.timer-card:active {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Timer card animation when turn is active */
.timer-card.acting::before, .timer-card.acting::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    animation-timing-function: linear;
}

.timer-card.acting::before {
    top: 0;
    animation: timer-card-border-1 4s infinite;
}

.timer-card.acting::after {
    top: calc(100% - 4px);
    animation: timer-card-border-2 4s infinite;
}

@keyframes timer-card-border-1 {
    0% {
        left: 0;
        width: 0px;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0px;
    }
}

@keyframes timer-card-border-2 {
    0% {
        left: 100%;
        width: 0px;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 0;
        width: 0px;
    }
}
/* ----- */

.timer-area .active-timer h1 {
    font-size: 2.3em;
    max-width: calc(100% - 130px);
}

.timer-area .active-timer .time {
    font-size: 2.3em;
}

.timer-area .active-timer .turns {
    font-size: 1.0em;
}

.timer-area .waiting-timer-list {
    position: relative;
    width: 100%;
    padding: 0;
}

.timer-area .waiting-timer-list li {
    display: inline-block;
    position: relative;
    margin: 10px 0 0 0;
    background-color: var(--emphasis-color);
    width: 100%;
    height: 80px;
    cursor: pointer;
    border-radius: 4px;
}

.timer-area .waiting-timer-list h1 {
    margin-left: 16px;
}

.timer-area .waiting-timer-list h1.name {
    max-width: calc(100% - 110px);
}

.timer-area .waiting-timer-list .turns {
    font-size: 0.9em;
}

.card .right-side {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin: 0 20px 0 0;
    height: 100%;
    line-height: 100%;
}

.timer-area .active-timer .right-side {
    min-width: 100px;
}

.timer-area .waiting-timer-list .right-side {
    min-width: 75px;
}

.timer-area .right-side div {
    line-height: 1.0em;
}

.timer-area .time {
    font-size: 1.8em;
    width: 100%;
    text-align: center;
}

.timer-area .turns {
    width: 100%;
    text-align: center;
}

.time-turns-divider {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 1px;
    background: black;
}

.active-timer .time-turns-divider {
    margin: 10px 0 10px 0;
}

.waiting-timer-list .time-turns-divider {
    margin: 6px 0 6px 0;
}

.center-vertical {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.center-horizontal {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.resume-button {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 64px;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-left: none;
    border-top: none;
    border-bottom: none;
    user-select: none;
    color: #000;
    background-color: rgba(0, 0, 0, 0.08);
    cursor: pointer;
    padding: 0;
}

.resume-button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.resume-button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.waiting-player-button {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 100%;
    left: 64px;
    right: 0;
    border: none;
    background-color: transparent;
    font-family: inherit;
    text-align: left;
    padding: 0;
    color: #000;
    font-size: 1.0em;
    cursor: pointer;
}

.waiting-player-button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.waiting-player-button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.timer-area .waiting-timer-list .resume-button h1 {
    line-height: normal;
    margin: 0;
    top: auto;
    left: auto;
    transform: none;
    font-size: 30px;
}

.actions-area {
    margin-top: 25px;
}

.actions-area button {
    background-color: var(--primary-color);
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: #fff;
    font-family: 'Trade Winds', serif;
    font-size: 24px;
    height: 65px;
    width: 240px;
    margin: 0 2px 0 2px;
    max-width: calc(50% - 6px);
}

.actions-area button:hover {
    color: var(--active-color);
}

.actions-area button:active {
    color: rgba(var(--active-color-rgb), 0.9);
}

.actions-area button:focus {
    color: var(--active-color);
}

/* Stats Page */

.stats-area .central {
    max-width: 100%;
}

.stats-area table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.stats-area thead tr {
    background-color: var(--primary-color);
    color: #ffff;
    text-align: left;
}

.stats-area th,
.stats-area td {
    padding: 12px 15px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stats-area tbody tr {
    border-bottom: thin solid #dddddd;
}

.stats-area tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.stats-area tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-color);
}

.stats-area tbody td.total {
    border-left: thin solid var(--primary-color);
}

.stats-area tbody tr.analysis {
    background-color: rgba(93, 115, 126, 0.3);
}

.stats-area tbody td.highlight {
    background-color: var(--active-color);
}

.stats-area tbody td.lowlight {
    background-color: rgba(var(--emphasis-color-rgb), 0.7);
}

.stats-area h1 {
    font-family: 'Trade Winds', serif;
}

.stats-area .actions-area button {
    max-width: none;
    width: 350px;
}

/* Setup Page */

.setup-area .player-list {
    position: relative;
    width: 100%;
    padding: 0;
}

.setup-area .player-list li {
    display: inline-block;
    position: relative;
    margin: 10px 0 0 0;
    background-color: var(--emphasis-color);
    width: 100%;
    height: 80px;
    border-radius: 4px;
}

.setup-area .player-list h1 {
    margin-left: 24px;
    font-weight: normal;
}

.setup-area .player-list h1.name {
    max-width: calc(100% - 110px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.setup-area .actions-area button.big {
    max-width: none;
    width: 350px;
}

.player-card-button {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    width: 80px;
    border-left: 2px solid rgba(0, 0, 0, 0.4);
    border-right: none;
    border-bottom: none;
    border-top: none;
    user-select: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.08);
}

.player-card-button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.player-card-button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.setup-area .player-card-button h1 {
    display: inline-block;
    position: relative;
    margin: 0;
}

.setup-area .input .player-card-button {
    background-color: var(--active-color);
}

.setup-area .input .player-card-button:hover {
    background-color: rgba(var(--active-color-rgb), 0.9);
}

.setup-area .input .player-card-button:active {
    background-color: rgba(var(--active-color-rgb), 0.8);
}

.setup-area .card input {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 80px;
    border: 4px solid var(--emphasis-color);
    font-family: 'Denk One';
    font-size: 2em;
    padding-left: 24px;
    background-color: var(--emphasis-color);
}

.setup-area .card input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.setup-area .card input:focus-visible {
    outline: rgba(var(--primary-color-rgb), 0.8) auto 1px;
}